In [333]:
import numpy as np
import pandas as pd
from scipy.stats import chisquare
from scipy.stats import ttest_ind
from scipy.stats import ks_2samp

In [334]:
income00 = pd.read_csv('income per capita 2000.csv')

In [482]:
pop2005_march = pd.read_csv('population density 2005-march2.csv')

In [483]:
pop2005_march.shape

(296, 2)

In [488]:
pop2005_march.dropna(inplace = True)

In [490]:
pop2005_march.columns

Index([u'FIPS Code', u'Estimated population density between 2005-2009.'], dtype='object')

In [491]:
pop2005_march['Estimated population density between 2005-2009.'].mean()

92032.41057432431

In [493]:
pp2005 = pop2005_march[pop2005_march['Estimated population density between 2005-2009.']!=0]

In [494]:
pp2005['Estimated population density between 2005-2009.'].mean()

94261.56930795847

In [496]:
pp2011 = pop2011_march[pop2011_march['Estimated population density between 2011-2015.']!=0]

In [498]:
pp2011['Estimated population density between 2011-2015.'].mean()

89376.48597173145

In [486]:
pop2011_march = pd.read_csv('pop density 2011-march 2nd.csv')

In [489]:
pop2011_march.dropna(inplace = True)

In [492]:
pop2011_march['Estimated population density between 2011-2015.'].mean()

87824.81086805556

In [487]:
pop2011_march.shape

(288, 2)

In [335]:
income00.head()

      Census Tract     FIPS Code  Per capita income in 2000.
0  36081091601, NY  3.608109e+10                     31153.0
1  36081162200, NY  3.608116e+10                         NaN
2  36081107202, NY  3.608111e+10                         NaN
3  36085012803, NY  3.608501e+10                     20646.0
4  36047070203, NY  3.604707e+10                         NaN

In [336]:
len(income00['FIPS Code'].unique())

2218

In [337]:
income09 = pd.read_csv('income per capita 2005-2009.csv')

In [338]:
len(income09['FIPS Code'].unique())

2218

In [339]:
income15 = pd.read_csv('income per capita 2011-2015.csv')

In [340]:
income15.shape

(2179, 3)

In [341]:
len(income15['FIPS Code'].unique())

2169

In [342]:
age09 = pd.read_csv('median age 2005-2009.csv')

In [343]:
age15 = pd.read_csv('median age 2011-2015.csv')

In [344]:
race00 = pd.read_csv('percent of white 2000.csv')

In [345]:
race09 = pd.read_csv('percent of white 2005-2009.csv')

In [346]:
race15 = pd.read_csv('percent of white 2011-2015.csv')

In [447]:
pop09 = pd.read_csv('population density 2005-2009.csv')

In [484]:
pop09.shape

(2228, 3)

In [451]:
pop09['Estimated population density between 2005-2009.'].dropna(inplace = True)

In [452]:
pop09['Estimated population density between 2005-2009.'].mean()

48971.93515794232

In [455]:
pop15 = pd.read_csv('population density 2011-2015.csv')
pop15.head()

,Census Tract,FIPS Code,Estimated population density between 2011-2015.
0,"36081990100, NY",3.608199e+10,NaN
1,"36085990100, NY",3.608599e+10,NaN
2,"36081107202, NY",3.608111e+10,0.0
3,"36047070203, NY",3.604707e+10,0.0
4,"36081071600, NY",3.608107e+10,0.0

In [462]:
pop15.shape

(2179, 3)

In [456]:
pop15['Estimated population density between 2011-2015.'].dropna(inplace = True)

In [457]:
pop15['Estimated population density between 2011-2015.'].mean()

50575.89474121997

In [428]:
pop_age00 = pd.read_csv('population density and median age 2000.csv')

In [460]:
pop_age00['population density'].dropna(inplace = True)

In [461]:
pop_age00['population density'].mean()

87561.98699507432

In [463]:
pop_age00.shape

(296, 3)

In [430]:
pop_ = pop09.merge(pop15, on ='FIPS Code' )

In [431]:
pop = pop_.merge(pop_age00, on = 'FIPS Code')

pop = pop[["FIPS Code", "Estimated population density between 2005-2009.", "Estimated population density between 2011-2015.",
           "population density"]]

In [432]:
age_ = age09.merge(age15, on ='FIPS Code')
age = age_.merge(pop_age00, on = 'FIPS Code')
age

,Census Tract_x,FIPS Code,Estimated typical (median) age of all people between 2005-2009.,Census Tract_y,Estimated typical (median) age of all people between 2011-2015.,population density,median age
0,"36061031900, NY",3.606103e+10,36.0,"36061031900, NY",NaN,1660.58200,32.5
1,"36061024000, NY",3.606102e+10,42.0,"36061024000, NY",47.0,1631.78700,39.4
2,"36061014300, NY",3.606101e+10,NaN,"36061014300, NY",NaN,14.75448,38.5
3,"36061029700, NY",3.606103e+10,NaN,"36061029700, NY",NaN,0.00000,0.0
4,"36061002400, NY",3.606100e+10,35.0,"36061002400, NY",43.0,52187.88000,31.7
5,"36061009900, NY",3.606101e+10,38.0,"36061009900, NY",33.0,3895.73300,36.5
6,"36061031100, NY",3.606103e+10,NaN,"36061031100, NY",NaN,70.52879,46.5
7,"36061000500, NY",3.606100e+10,NaN,"36061000500, NY",NaN,5.88095,26.5
8,"36061015100, NY",3.606102e+10,34.0,"36061015100, NY",38.0,39130.04000,32.3
9,"36061024302, NY",3.606102e+10,24.0,"36061024302, NY",33.0,83366.31000,30.0
10,"36061023600, NY",3.606102e+10,42.0,"36061023600, NY",35.0,51828.19000,40.4
11,"36061028700, NY",3.606103e+10,34.0,"36061028700, NY",36.0,28106.15000,31.9
12,"36061000202, NY",3.606100e+10,42.0,"36061000202, NY",46.0,37305.31000,43.7
13,"36061003300, NY",3.606100e+10,37.0,"36061003300, NY",36.0,27706.50000,37.3
14,"36061012900, NY",3.606101e+10,36.0,"36061012900, NY",35.0,38473.20000,33.4
15,"36061013500, NY",3.606101e+10,37.0,"36061013500, NY",42.0,28869.53000,38.7
16,"36061002900, NY",3.606100e+10,46.0,"36061002900, NY",44.0,62553.13000,40.5
17,"36061030900, NY",3.606103e+10,29.0,"36061030900, NY",34.0,66082.12000,31.4
18,"36061001300, NY",3.606100e+10,31.0,"36061001300, NY",31.0,13210.25000,31.7
19,"36061016200, NY",3.606102e+10,33.0,"36061016200, NY",36.0,99453.44000,32.2
20,"36061021000, NY",3.606102e+10,38.0,"36061021000, NY",32.0,85925.55000,38.0
21,"36061003900, NY",3.606100e+10,41.0,"36061003900, NY",38.0,40955.07000,43.0
22,"36061018900, NY",3.606102e+10,36.0,"36061018900, NY",41.0,116937.70000,36.8
23,"36061017800, NY",3.606102e+10,34.0,"36061017800, NY",32.0,39988.36000,30.5
24,"36061002100, NY",3.606100e+10,34.0,"36061002100, NY",35.0,26120.94000,34.7
25,"36061021900, NY",3.606102e+10,32.0,"36061021900, NY",31.0,69573.72000,30.7
26,"36061019701, NY",3.606102e+10,32.0,"36061019701, NY",36.0,264.43820,39.5
27,"36061019800, NY",3.606102e+10,39.0,"36061019800, NY",43.0,17405.11000,39.8
28,"36061013700, NY",3.606101e+10,45.0,"36061013700, NY",38.0,80759.27000,40.5
29,"36061013600, NY",3.606101e+10,40.0,"36061013600, NY",38.0,169927.10000,38.7
...,...,...,...,...,...,...,...
239,"36061014700, NY",3.606101e+10,34.0,"36061014700, NY",34.0,67623.16000,26.9
240,"36061004200, NY",3.606100e+10,30.0,"36061004200, NY",23.0,120123.00000,28.1
241,"36061020102, NY",3.606102e+10,30.0,"36061020102, NY",33.0,109129.50000,31.6
242,"36061030700, NY",3.606103e+10,41.0,"36061030700, NY",43.0,120905.20000,36.9
243,"36061000100, NY",3.606100e+10,NaN,"36061000100, NY",NaN,0.00000,0.0
244,"36061011201, NY",3.606101e+10,55.0,"36061011201, NY",53.0,36831.52000,45.2
245,"36061003002, NY",3.606100e+10,39.0,"36061003002, NY",41.0,100415.40000,34.6
246,"36061011202, NY",3.606101e+10,61.0,"36061011202, NY",51.0,12707.00000,54.8
247,"36061011203, NY",3.606101e+10,50.0,"36061011203, NY",39.0,43224.45000,47.4
248,"36061014601, NY",3.606101e+10,33.0,"36061014601, NY",33.0,135247.20000,32.7
249,"36061014401, NY",3.606101e+10,40.0,"36061014401, NY",45.0,184357.80000,41.5
250,"36061015601, NY",3.606102e+10,32.0,"36061015601, NY",33.0,189116.10000,29.1
251,"36061000201, NY",3.606100e+10,39.0,"36061000201, NY",41.0,132252.50000,33.4
252,"36061028100, NY",3.606103e+10,41.0,"36061028100, NY",41.0,108991.10000,43.2
253,"36061023900, NY",3.606102e+10,35.0,"36061023900, NY",36.0,109015.40000,33.8
254,"36061024900, NY",3.606102e+10,25.0,"36061024900, NY",34.0,48705.48000,31.5
255,"36061002700, NY",3.606100e+10,39.0,"36061002700, NY",46.0,65478.07000,46.2
256,"36061002202, NY",3.606100e+10,32.0,"36061002202, NY",34.0,67195.02000,31.4
257,"36061001001, NY",3.606100e+10,47.0,"36061001001, NY",45.0,61497.47000,49.5
258,"36061020101, NY",3.606102e+10,22.0,"36061020101, NY",22.0,105177.90000,21.3
259,"36061014801, NY",3.606101e+10,40.0,"36061014801, NY",39.0,145907.00000,39.0
260,"36061015001, NY",3.606102e+10,41.0,"36061015001, NY",53.0,111082.10000,44.0
261,"36061015802, NY",3.606102e+10,31.0,"36061015802, NY",30.0,164465.00000,34.9
262,"36061016002, NY",3.606102e+10,36.0,"36061016002, NY",31.0,162939.60000,35.5
263,"36061017402, NY",3.606102e+10,26.0,"36061017402, NY",31.0,109894.80000,30.6
264,"36061019702, NY",3.606102e+10,35.0,"36061019702, NY",37.0,118807.80000,34.7
265,"36061020701, NY",3.606102e+10,28.0,"36061020701, NY",28.0,141859.20000,29.9
266,"36061026700, NY",3.606103e+10,22.0,"36061026700, NY",24.0,107582.80000,26.3
267,"36061022302, NY",3.606102e+10,33.0,"36061022302, NY",34.0,229783.00000,33.0
268,"36061023502, NY",3.606102e+10,29.0,"36061023502, NY",31.0,121733.00000,30.3

In [354]:
age = age[["FIPS Code", "Estimated typical (median) age of all people between 2005-2009.", 
           "Estimated typical (median) age of all people between 2011-2015.",
           "median age"]]

In [355]:
race_ = race09.merge(race15, on ='FIPS Code')

In [356]:
race = race_.merge(race00, on ='FIPS Code' )

In [357]:
race = race[["FIPS Code", "Estimated percent of all people who were White between 2005-2009", 
           "Estimated percent of all people who were White between 2011-2015",
           "Percent of all people who were White in 2000."]]
race.shape

(3260, 4)

In [358]:
income_ = income00.merge(income09, on ='FIPS Code' )

In [359]:
income_.shape

(2338, 5)

In [360]:
income = income_.merge(income15, on ='FIPS Code' )
income.shape

(3260, 7)

In [361]:
income = income[["FIPS Code", "Per capita income in 2000.", 
           "Estimated per capita income between 2005-2009.",
           "Estimated per capita income between 2011-2015."]]

In [363]:
#income.dropna(inplace = True)

## Age

In [243]:
age['censustract'] = age['FIPS Code'].astype(str).str[5:].astype(np.float64)

C:\Users\Pooneh\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [244]:
len(age['FIPS Code'].unique())

269

In [247]:
age_highline = age[((age['censustract'] == 11500.0) | (age['censustract'] == 11700.0))
                   | ((age['censustract'] == 9700.0) | (age['censustract'] == 10300.0))
                   | ((age['censustract'] == 8900.0) | (age['censustract'] == 9300.0))
                  | ((age['censustract'] == 11100.0) | (age['censustract'] == 8300.0))
                  | ((age['censustract'] == 9900.0) | (age['censustract'] == 7700.0))
                  | ((age['censustract'] == 7900.0))]

In [249]:
age_without_highline = age[age.apply(lambda x: x.values.tolist() not in age_highline.values.tolist(), axis=1)]

In [369]:
len(age_without_highline['FIPS Code'])

252

In [368]:
len(age_without_highline['FIPS Code'].unique())

252

In [251]:
age_highline.shape

(11, 5)

In [252]:
age_highline['median age'].mean()

35.236363636363635

In [253]:
age_highline['Estimated typical (median) age of all people between 2011-2015.'].mean()

37.18181818181818

In [254]:
age_highline['Estimated typical (median) age of all people between 2005-2009.'].mean()

39.54545454545455

In [255]:
age_without_highline['median age'].mean()

35.85542635658916

In [256]:
age_without_highline.dropna(inplace = True)

C:\Users\Pooneh\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [257]:
age_without_highline['Estimated typical (median) age of all people between 2011-2015.'].mean()

37.78968253968254

In [258]:
age_without_highline['Estimated typical (median) age of all people between 2005-2009.'].mean()

36.86904761904762

In [259]:
chisquare(age_without_highline['Estimated typical (median) age of all people between 2005-2009.'], age_without_highline['Estimated typical (median) age of all people between 2011-2015.'])

Power_divergenceResult(statistic=107.06217668249299, pvalue=1.0)

In [260]:
chisquare(age_highline['Estimated typical (median) age of all people between 2005-2009.'], age_highline['Estimated typical (median) age of all people between 2011-2015.'])

Power_divergenceResult(statistic=6.4346778952042101, pvalue=0.77751792765505778)

In [262]:
ttest_ind(age_highline['Estimated typical (median) age of all people between 2005-2009.'], age_highline['Estimated typical (median) age of all people between 2011-2015.'])

Ttest_indResult(statistic=1.0491037560604479, pvalue=0.30664315889998833)

In [264]:
ks_2samp(age_highline['Estimated typical (median) age of all people between 2005-2009.'],
         age_without_highline['Estimated typical (median) age of all people between 2005-2009.'])

Ks_2sampResult(statistic=0.31349206349206349, pvalue=0.20583876184221883)

In [265]:
ks_2samp(age_highline['Estimated typical (median) age of all people between 2011-2015.'], age_without_highline['Estimated typical (median) age of all people between 2011-2015.'])

Ks_2sampResult(statistic=0.18001443001443002, pvalue=0.8478357829193488)

In [266]:
ks_2samp(age_highline['median age'], age_without_highline['median age'])

Ks_2sampResult(statistic=0.30194805194805197, pvalue=0.24242544521897821)

## Income

In [370]:
income.dropna(inplace = True)

In [371]:
income['censustract'] = income['FIPS Code'].astype(str).str[2:].astype(np.float64)

In [375]:
income_highline = income[((income['censustract'] == 61011500.0) | (income['censustract'] == 61011700.0))
                   | ((income['censustract'] == 61009700.0) | (income['censustract'] == 61010300.0))
                   | ((income['censustract'] == 61008900.0) | (income['censustract'] == 61009300.0))
                  | ((income['censustract'] == 61011100.0) | (income['censustract'] == 61008300.0))
                  | ((income['censustract'] == 61009900.0) | (income['censustract'] == 61007700.0))
                  | ((income['censustract'] == 61007900.0))]

In [377]:
income_without_highline = income[income.apply(lambda x: x.values.tolist()
                                     not in income_highline.values.tolist(), axis=1)]

In [378]:
len(income_without_highline['FIPS Code'].unique())

1873

In [379]:
len(income_without_highline['FIPS Code'])

1873

In [381]:
ks_2samp(income_without_highline['Per capita income in 2000.'],
          income_highline['Per capita income in 2000.'])

Ks_2sampResult(statistic=0.73130126680580498, pvalue=5.4869777309860298e-06)

In [384]:
income_without_highline['Per capita income in 2000.'].mean()

21712.27495995729

In [386]:
income_highline['Per capita income in 2000.'].mean()

43447.181818181816

In [382]:
ks_2samp(income_without_highline['Estimated per capita income between 2005-2009.'],
          income_highline['Estimated per capita income between 2005-2009.'])

Ks_2sampResult(statistic=0.83876134543513081, pvalue=9.6545166745411137e-08)

In [387]:
income_without_highline['Estimated per capita income between 2005-2009.'].mean()

28918.208756006406

In [388]:
income_highline['Estimated per capita income between 2005-2009.'].mean()

66992.90909090909

In [383]:
ks_2samp(income_without_highline['Estimated per capita income between 2011-2015.'],
          income_highline['Estimated per capita income between 2011-2015.'])

Ks_2sampResult(statistic=0.90336358782701554, pvalue=6.5209525766541407e-09)

In [389]:
income_without_highline['Estimated per capita income between 2011-2015.'].mean()

32149.319273892153

In [390]:
income_highline['Estimated per capita income between 2011-2015.'].mean()

90892.18181818182

In [393]:
income_manhattan = income[income['FIPS Code'].astype(str).str[:5].astype(np.float64)==36061]

In [396]:
len(income_manhattan['FIPS Code'].unique())

262

In [397]:
len(income_manhattan['FIPS Code'])

262

In [398]:
income_manhattan_without_highline = income_manhattan[income_manhattan.apply(lambda x: x.values.tolist()
                                     not in income_highline.values.tolist(), axis=1)]

In [399]:
ks_2samp(income_manhattan_without_highline['Per capita income in 2000.'],
          income_highline['Per capita income in 2000.'])

Ks_2sampResult(statistic=0.32741760231800077, pvalue=0.16760202540926894)

In [400]:
ks_2samp(income_manhattan_without_highline['Estimated per capita income between 2005-2009.'],
          income_highline['Estimated per capita income between 2005-2009.'])

Ks_2sampResult(statistic=0.4063745019920319, pvalue=0.043927298275529846)

In [401]:
income_manhattan_without_highline['Estimated per capita income between 2005-2009.'].mean()

62668.143426294824

In [402]:
income_highline['Estimated per capita income between 2005-2009.'].mean()

66992.90909090909

In [403]:
ks_2samp(income_manhattan_without_highline['Estimated per capita income between 2011-2015.'],
          income_highline['Estimated per capita income between 2011-2015.'])

Ks_2sampResult(statistic=0.46613545816733065, pvalue=0.013156599684893274)

In [404]:
income_manhattan_without_highline['Estimated per capita income between 2011-2015.'].mean()

69522.83266932271

In [405]:
income_highline['Estimated per capita income between 2011-2015.'].mean()

90892.18181818182

In [406]:
chisquare(income_highline['Estimated per capita income between 2011-2015.'], income_highline['Estimated per capita income between 2005-2009.'])

Power_divergenceResult(statistic=168266.55375410564, pvalue=0.0)

In [407]:
chisquare(income_highline['Per capita income in 2000.'], income_highline['Estimated per capita income between 2005-2009.'])

Power_divergenceResult(statistic=136541.13354749663, pvalue=0.0)

In [408]:
chisquare(income_manhattan_without_highline['Per capita income in 2000.'], income_manhattan_without_highline['Estimated per capita income between 2005-2009.'])

Power_divergenceResult(statistic=1868740.3398472699, pvalue=0.0)

In [409]:
chisquare(income_manhattan_without_highline['Estimated per capita income between 2011-2015.'], income_manhattan_without_highline['Estimated per capita income between 2005-2009.'])

Power_divergenceResult(statistic=949575.37435505725, pvalue=0.0)

In [410]:
ttest_ind(income_manhattan_without_highline['Estimated per capita income between 2011-2015.'], income_manhattan_without_highline['Estimated per capita income between 2005-2009.'])

Ttest_indResult(statistic=1.6656110030753892, pvalue=0.09641728334552134)

In [411]:
ttest_ind(income_manhattan_without_highline['Per capita income in 2000.'], income_manhattan_without_highline['Estimated per capita income between 2005-2009.'])

Ttest_indResult(statistic=-4.5347702887324539, pvalue=7.2260927021428463e-06)

In [415]:
ttest_ind(income_highline['Estimated per capita income between 2005-2009.'], income_highline['Per capita income in 2000.'])

Ttest_indResult(statistic=2.5690986325342311, pvalue=0.018308459333115465)

In [413]:
ttest_ind(income_highline['Estimated per capita income between 2011-2015.'], income_highline['Estimated per capita income between 2005-2009.'])

Ttest_indResult(statistic=2.3893505389341243, pvalue=0.026843512845193537)

## Pop

In [433]:
pop['censustract'] = pop['FIPS Code'].astype(str).str[2:].astype(np.float64)

In [434]:
pop_highline = pop[((pop['censustract'] == 61011500.0) | (pop['censustract'] == 61011700.0))
                   | ((pop['censustract'] == 61009700.0) | (pop['censustract'] == 61010300.0))
                   | ((pop['censustract'] == 61008900.0) | (pop['censustract'] == 61009300.0))
                  | ((pop['censustract'] == 61011100.0) | (pop['censustract'] == 61008300.0))
                  | ((pop['censustract'] == 61009900.0) | (pop['censustract'] == 61007700.0))
                  | ((pop['censustract'] == 61007900.0))]

In [435]:
pop_without_highline = pop[pop.apply(lambda x: x.values.tolist()
                                     not in pop_highline.values.tolist(), axis=1)]

In [465]:
pop09_11_manhattan = pop_ [pop_ ['FIPS Code'].astype(str).str[:5].astype(np.float64)==36061]

In [471]:
pop_age00_ = pop_age00[pop_age00['FIPS Code'].astype(str).str[:5].astype(np.float64)==36061]

In [472]:
len(pop_age00_['FIPS Code'].unique())

296

In [474]:
pop_age00_.drop(0).count()

FIPS Code             295
population density    295
median age            295
dtype: int64

In [469]:
pop09_11_manhattan['Estimated population density between 2005-2009.'].mean()

96299.64226765801

In [470]:
pop09_11_manhattan['Estimated population density between 2011-2015.'].mean()

89260.19910780674

In [485]:
len(pop09_11_manhattan['Estimated population density between 2011-2015.'])

269

In [439]:
pop_manhattan_without_highline = pop_manhattan[pop_manhattan.apply(lambda x: x.values.tolist()
                                     not in pop_highline.values.tolist(), axis=1)]

In [440]:
pop.head()

,FIPS Code,Estimated population density between 2005-2009.,Estimated population density between 2011-2015.,population density,censustract
0,3.606103e+10,2285.00,0.00,1660.58200,61031900.0
1,3.606102e+10,2848.06,2088.24,1631.78700,61024000.0
2,3.606101e+10,0.00,4.40,14.75448,61014300.0
3,3.606103e+10,0.00,122.24,0.00000,61029700.0
4,3.606100e+10,47020.62,78525.30,52187.88000,61002400.0

In [441]:
pop_manhattan_without_highline['Estimated population density between 2005-2009.'].mean()

97775.08821705428

In [442]:
pop_manhattan_without_highline['population density'].mean()

93376.10722062016

In [443]:
pop_highline['Estimated population density between 2005-2009.'].mean()

61693.72818181818

In [444]:
pop_highline['Estimated population density between 2011-2015.'].mean()

63522.942727272726

In [445]:
pop_manhattan_without_highline['Estimated population density between 2011-2015.'].mean()

90357.52399224811

In [446]:
pop_highline['population density'].mean()

54338.320999999996